
body {
margin: 0;
}
.container {
    margin: 0px 166px;
    width: 100%;
}
.header {
    
    background-image: url(d.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}